.main {
    height: 9.125rem;
    margin-left: 10.4rem;
    margin-right: 10.4rem;
}

.wrapper {
    display: flex;
}

.logo {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    margin-top: 4rem;
    cursor: pointer;
}

.menu {
    margin-top: 4rem;
    position: relative;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.menu span {
    margin-right: 3.75rem;
    font-weight: 400;
    cursor: pointer;
}

.get {
    margin-top: 3rem;
    justify-content: center;
    text-align: center;
}

.get button {
    border: none;
    background-color: #ECE5FF;
    border-radius: 4px;
    color: #794CFF;
    font-weight: 500;
    padding: 1rem 1.4rem 1rem 1.4rem;
    cursor: pointer;
}

@media only screen and (max-device-width: 1350px) {
    .menu span {
        margin-right: 2rem;
    }
}

@media only screen and (max-device-width: 900px) {
    .main {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}