.main{
    height: 226px;
}

.subText {
    margin-top: 59px;
    text-align: center;
}

.subIcons {
    margin-top: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subIcons img {
    margin-left: 90px;
}