.main {
    height: 640px;
    background-color: #FBFAFE;
}

.wrapper {
    display: flex;
}

.wrapper div {
    margin: auto;
}
.chat {
    align-items: center;
}

.chat img {
    width: 657px;
    height: 518px;
}

.team {
    margin-top: 61px;
    margin-left: 80px;
}

.teamTitle{
    background-color: #F6F3FC;
    height: 108px;
    width: 372px;
    padding-left: 32px;
    padding-top: 26px;
    border-left: 8px solid #794CFF;
}

.teamTitle h1 {
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 10px;
}

.teamTitle span {
    font-size: 1rem;
    line-height: 24px;
    color: #4E5A65;
}

.teamText {
    height: 108px;
    width: 372px;
    padding-left: 32px;
    padding-top: 26px;
}

.teamText h1 {
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 10px;
}

.teamText span {
    font-size: 1rem;
    line-height: 24px;
    color: #4E5A65;
}